.search {
  position: relative;
  width: 100%;
  max-width: 280px;
}

.searchIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}

.input {
  width: 100%;
  display: block;
  border-radius: 5px;
  font-size: 0.875rem;
  padding: 10px 15px;
  background: rgba(252, 252, 255, 1);
  border: 1px solid rgba(230, 234, 245, 1);
  color: black;
}